{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Atualizar Computador{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div bg-white rounded">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Principal</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lista-empresas' %}">Empresas</a></li>
            <li class="breadcrumb-item"><a href="{% url 'lista-computadores' empresa.id %}">Computadores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Atualizar</li>
        </ol>
    </nav>
    <h1 class="titulo">Atualizar Computador:</h1>
    <div class="formularios">
        <form method="POST" id="createForm">
            {% csrf_token %}
            {{ form|crispy }}
            <a href="{% url 'lista-computadores' empresa.id %}" class="btn btn-secondary botoes" id="voltarBtn" style="margin-right: 10px;">Voltar</a>
            <button type="button" class="btn btn-success botoes" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="openModalBtn">Criar</button>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmação!</h1>
                        </div>
                        <div class="modal-body">
                            <p>Você confirma a ALTERAÇÃO DO COMPUTADOR?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loadingModal" id="confirmBtn"><u>S</u>im</button>
                            <button type="button" class="btn btn-secondary" id="btnRecusa" data-bs-dismiss="modal"><u>N</u>ão</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="loadingModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal border-0 d-flex align-items-center">
            <div class="modal-body text-center">
                <div class="spinner-border text-danger spinner-lg" role="status" style="width: 3rem; height: 3rem;">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}