{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registrar{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h4 class="card-title text-center">Criar nova conta</h4>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value=" {{ next }}">
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button type="submit" id="btn-register" data-bs-toggle="modal" data-bs-target="#loadingModal" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
                <p class="change-form-p text-center"><a href="/accounts/login">Entrar na minha conta</a></p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loadingModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal border-0 d-flex align-items-center">
            <div class="modal-body text-center">
                <div class="spinner-border text-danger spinner-lg" role="status" style="width: 3rem; height: 3rem;">
                    <span class="visually-hidden">Carregando...</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
