{% extends 'navbar.html' %}
{% load static %}
{% block title %}Deletar - Tarefa{% endblock %}
{% block body %}
    <div class="container_tarefas">
        <div class="text-center">
            <h1 class="texto">Deletar Tarefa</h1>
            <form class="row gy-2 gx-3 align-items-center" method="POST" action="{% url 'deletar_tarefa' tarefa.id %}">
                {% csrf_token %}
                <div class="col-md-12">
                    <label for="descricao" class="form-label">Descrição:</label>
                    <div class="col-11 mx-auto">
                        <input type="text" class="form-control" id="descricao" name="descricao" value="{{ tarefa.descricao }}" readonly>
                    </div>
                </div>
                <h1>Confirma exclusão de tarefa? <br> <h6>Após esse processo, não será possível recuperar os dados deletados!</h6></h1>
                <div class="col-auto mx-auto">
                    <a href="{% url 'tarefas' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-danger">
                        Deletar
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
