{% extends 'base.html' %}
{% load static %}
{% block title %}Página não encontrada{% endblock %}
{% block menu %}
    <div id="navbar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light">
                <a class="navbar-brand botao_menu" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    <img src="{% static 'img/barra_menu.png' %}" class="img-fluid" alt="Menu" id="logobar">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Menu do Usuário</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="{% url 'empresas' %}" class="btn btn-primary">Empresas</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'clientes' %}" class="btn btn-primary">Clientes</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{% url 'tarefas' %}" class="btn btn-primary">Tarefas</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
